[data-kt-app-layout="light-sidebar"]:not([data-kt-app-header-fixed="true"]) .app-header {
    background-color: #FFF;
    box-shadow: none;
    border-bottom: 1px solid var(--kt-app-sidebar-light-separator-color);
  }